<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adauga carti</title>
</head>
<body>
    <h2>Adauga carte</h2>
    {% if error %}
        <p style="color: #ff0000;">Nume gresit!</p>
    {% endif %}
    <form method="POST" action="/carti">
        <input type="hidden" name="insert_flag" value="1">
        <label for="titlu">Titlu</label>
        <input type="text" id="titlu" name="titlu" placeholder="Crimă și pedeapsă"
                                required oninvalid=
								"this.setCustomValidity('Introdu tiltul')"
								oninput="setCustomValidity('')">
        <label for="autor">Autor</label>
        <input type="text" id="autor" name="autor" placeholder="Feodor Mihailovici Dostoievski"
                                required oninvalid=
								"this.setCustomValidity('Introdu autorul')"
								oninput="setCustomValidity('')">
        <button type="submit">Adauga</button>
    </form>
    <a href="/carti">
        <button type="submit">Cancel</button>
    </a>
</body>
</html>