<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adauga persoana</title>
</head>
<body>
    <h2>Adauga persoana</h2>
    <form method="POST" action="/persoane">
        <input type="hidden" name="insert_flag" value="1">
        <label for="nume">Nume</label>
        <input type="text" id="nume" name="nume" placeholder="Marinel"
                                required oninvalid=
								"this.setCustomValidity('Introdu numele')"
								oninput="setCustomValidity('')">
        <label for="prenume">Prenume</label>
        <input type="text" id="prenume" name="prenume" placeholder="TelefonulMeuUndeE"
                                required oninvalid=
								"this.setCustomValidity('Introdu prenumele')"
								oninput="setCustomValidity('')">
        <label for="cnp">CNP</label>
        <input type="text" id="cnp" name="cnp" placeholder="123321"
                                required oninvalid=
								"this.setCustomValidity('Introdu CNP-ul')"
								oninput="setCustomValidity('')">
        <button type="submit">Adauga</button>
    </form>
</body>
</html>